<nav
  class="navbar navbar-expand-sm navbar-dark bg-dark"
  data-animation="default"
  data-easing2="ease"
  data-easing="ease"
  data-collapse="medium"
  role="banner"
  data-no-scroll="1"
  data-duration="400"
  data-doc-height="1"
>
  <div class="container-fluid">
    <div class="header text-white">
      <a class="navbar-brand" href="#">
        <a
          href="/"
          aria-current="page"
          class="navbar_logo-wrapper w-nav-brand w--current"
          ><img
            src="../../../assets/source/logo-no-background.png"
            loading="eager"
            width="200"
            height="50"
            alt="Logo"
            class="navbar_logo"
        /></a>
      </a>
    </div>

    <div class="accordion navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Solutions -->
        <li class="nav-item dropdown">
          <a
            class="accordion-header nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="isExpanded"
          >
            <div class="header text-white">Solutions</div>
          </a>
          <ul
            id="solution"
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
          >
            <div class="navbar_dropdown-link-container">
              <div
                id="w-node-_25055501-3500-09b3-1383-0feec37db729-bce7c9c5"
                class="navbar_dropdown-heading"
              >
                SOLUTIONS
              </div>
              <a
                href="/real-time-container-tracking"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/tracking-header-icon-new.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  id="services-portcast.io"
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">
                    Real-Time Container Tracking
                  </div>
                  <div class="navbar_link-description">
                    98% carriers in one place
                  </div>
                </div></a
              ><a
                id="w-node-_25055501-3500-09b3-1383-0feec37db732-bce7c9c5"
                href="/predictive-visibility"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/1416.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">Predictive Visibility</div>
                  <div class="navbar_link-description">
                    Accurate ETAs and ETDs
                  </div>
                </div></a
              ><a
                id="w-node-_393f44c1-0c8a-71e8-43ef-7545a82f7672-bce7c9c5"
                href="/port-congestion-tracker"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/124417.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">Port Congestion</div>
                  <div class="navbar_link-description">
                    Waiting time and traffic at port
                  </div>
                </div></a
              ><a
                id="w-node-bffe8092-9fdc-5fbf-0414-b31660a8f9da-bce7c9c5"
                href="/ocean-vessel-tracking-api"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/143431.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  id="services-portcast.io"
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">Ocean Vessel Tracking</div>
                  <div class="navbar_link-description">
                    Live AIS data, vessel schedules, and predictions
                  </div>
                </div></a
              ><a
                id="w-node-db47f3a7-9e7e-5ba0-448c-57f869dd2e37-bce7c9c5"
                href="/port-terminal-visibility"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/port-terminal-icon.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">Port Terminal Data</div>
                  <div class="navbar_link-description">
                    Key export &amp; import events
                  </div>
                </div></a
              ><a
                id="w-node-c3f4c271-5bbc-be04-721e-dac8be8f232e-bce7c9c5"
                href="/shipping-analytics-software"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/shipping_analytics.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  id="services-portcast.io"
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">Shipping Analytics</div>
                  <div class="navbar_link-description">
                    Carrier reliability, lane performance,and D&amp;D
                  </div>
                </div></a
              ><a
                id="w-node-_9eded26f-202d-1753-58f9-d88fb675ec81-bce7c9c5"
                href="/demand-forecasting-software"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/Demand_Forecasting.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  id="services-portcast.io"
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">Demand Forecasting</div>
                  <div class="navbar_link-description">
                    Business intelligence for planning
                  </div>
                </div></a
              ><a
                id="w-node-_660038af-a339-bd85-da7f-6e51eb712f70-bce7c9c5"
                href="/transportation-carbon-footprint-and-emissions-calculator"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/co2_emission.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  id="services-portcast.io"
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">
                    CO2e Emissions Dashboard
                  </div>
                  <div class="navbar_link-description">
                    Intensity and total logistics emissions
                  </div>
                </div></a
              >
              <div
                id="w-node-_25055501-3500-09b3-1383-0feec37db740-bce7c9c5"
                class="navbar_dropdown-heading is-secondary"
              >
                Features
              </div>
              <a
                id="w-node-_25055501-3500-09b3-1383-0feec37db742-bce7c9c5"
                href="/exceptions-reporting"
                class="navbar_link-item is-small w-inline-block"
                ><img
                  src="../../../assets/source/bell.svg"
                  loading="lazy"
                  width="20"
                  height="20"
                  alt=""
                  id="w-node-_25055501-3500-09b3-1383-0feec37db743-bce7c9c5"
                  class="navbar_link-image-small"
                />
                <div
                  id="w-node-_25055501-3500-09b3-1383-0feec37db744-bce7c9c5"
                  class="navbar_link-text-container"
                >
                  <div class="navbar_link-heading">
                    Exceptions Reporting &amp; Alerts
                  </div>
                </div></a
              ><a
                id="w-node-_25055501-3500-09b3-1383-0feec37db747-bce7c9c5"
                href="/container-tracking-api"
                class="navbar_link-item is-small w-inline-block"
                ><img
                  src="../../../assets/source/Vec52tor.svg"
                  loading="lazy"
                  width="20"
                  height="20"
                  alt=""
                  id="w-node-_25055501-3500-09b3-1383-0feec37db748-bce7c9c5"
                  class="navbar_link-image-small"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">Ready-To-Integrate API</div>
                </div></a
              >
              <div
                id="w-node-_25055501-3500-09b3-1383-0feec37db74c-bce7c9c5"
                class="navbar_separator"
              ></div>
              <a
                id="w-node-_25055501-3500-09b3-1383-0feec37db74d-bce7c9c5"
                href="/carrier-coverage"
                class="navbar_link-item is-link w-inline-block"
                ><div class="navbar_link-text-container">
                  <div class="navbar_link-heading">Carrier Coverage</div>
                </div>
                <img
                  src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f61b6cce0e0eb_Vector42.svg"
                  loading="lazy"
                  width="20"
                  height="20"
                  alt=""
                  id="w-node-_25055501-3500-09b3-1383-0feec37db751-bce7c9c5"
                  class="navbar_link-image-small" /></a
              ><a
                id="w-node-_09897131-35f3-0720-e078-5b823198f8e9-bce7c9c5"
                href="/apm-terminals-container-tracking"
                class="navbar_link-item is-link w-inline-block"
                ><div class="navbar_link-text-container">
                  <div class="navbar_link-heading">APM Terminal Tracking</div>
                </div>
                <img
                  src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f61b6cce0e0eb_Vector42.svg"
                  loading="lazy"
                  width="20"
                  height="20"
                  alt=""
                  id="w-node-_09897131-35f3-0720-e078-5b823198f8ed-bce7c9c5"
                  class="navbar_link-image-small" /></a
              ><a
                id="w-node-_2055bc50-f4a5-9d37-a89d-75c3387258e6-bce7c9c5"
                href="/maher-terminal-container-tracking"
                class="navbar_link-item is-link w-inline-block"
                ><div class="navbar_link-text-container">
                  <div class="navbar_link-heading">Maher Terminal Tracking</div>
                </div>
                <img
                  src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f61b6cce0e0eb_Vector42.svg"
                  loading="lazy"
                  width="20"
                  height="20"
                  alt=""
                  id="w-node-_2055bc50-f4a5-9d37-a89d-75c3387258ea-bce7c9c5"
                  class="navbar_link-image-small"
              /></a>
            </div>
          </ul>
        </li>
        <!-- usecase -->
        <li class="nav-item dropdown">
          <a
            class="accordion-header nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="header text-white">Use Cases</div>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="navbar_dropdown-link-container">
              <div
                id="w-node-_25055501-3500-09b3-1383-0feec37db75b-bce7c9c5"
                class="navbar_dropdown-heading"
              >
                Use Cases
              </div>
              <a
                id="w-node-_25055501-3500-09b3-1383-0feec37db75d-bce7c9c5"
                href="/real-time-visibility-for-logistics-service-providers"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/logistics.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">
                    Logistics Service Providers
                  </div>
                  <div class="navbar_link-description">
                    3PLs and Freight forwarders
                  </div>
                </div></a
              ><a
                id="w-node-_25055501-3500-09b3-1383-0feec37db764-bce7c9c5"
                href="/real-time-visibility-for-shippers-and-manufacturers"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/143431.svg"
                  loading="lazy"
                  height="50"
                  width="50"
                  alt=""
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">
                    Shippers and Manufacturers
                  </div>
                  <div class="navbar_link-description">
                    Beneficial cargo owners
                  </div>
                </div></a
              ><a
                id="w-node-bff86cae-ed85-b8ef-7f4e-733f497cd577-bce7c9c5"
                href="/real-time-visibility-for-logistics-technology-companies"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/logistics.svg"
                  loading="lazy"
                  height="50"
                  width="50"
                  alt=""
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">
                    Logistics Technology Companies
                  </div>
                  <div class="navbar_link-description">TMS, ERP and more</div>
                </div></a
              >
            </div>
          </ul>
        </li>
        <!-- resource  -->

        <li class="nav-item dropdown">
          <a
            class="accordion-header nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="header text-white">Resources</div>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="navbar_dropdown-link-container">
              <div
                id="w-node-_25055501-3500-09b3-1383-0feec37db774-bce7c9c5"
                class="navbar_dropdown-heading"
              >
                Resources
              </div>
              <a href="/blog" class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/14310.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">Blog</div>
                  <div class="navbar_link-description">
                    Our latest news &amp; insights
                  </div>
                </div></a
              ><a
                href="https://portcast.notion.site/Help-Center-8c0dbe68d173434dbfca94995a194f95"
                target="_blank"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/knowledge_base.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">Knowledge Base</div>
                  <div class="navbar_link-description">
                    Common questions and how-to&#x27;s
                  </div>
                </div></a
              ><a
                href="https://portcast.stoplight.io"
                target="_blank"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/knowledge_base.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">API Documentation</div>
                  <div class="navbar_link-description">
                    Integration and data points
                  </div>
                </div></a
              >
            </div>
          </ul>
        </li>
        <!-- company  -->
        <li class="nav-item dropdown">
          <a
            class="accordion-header nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="header text-white">Company</div>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="navbar_dropdown-link-container">
              <div
                id="w-node-_25055501-3500-09b3-1383-0feec37db786-bce7c9c5"
                class="navbar_dropdown-heading"
              >
                Company
              </div>
              <a
                id="w-node-_25055501-3500-09b3-1383-0feec37db788-bce7c9c5"
                href="/about-us"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/1425.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">About Us</div>
                  <div class="navbar_link-description">Story of Portcast</div>
                </div></a
              ><a
                id="w-node-_25055501-3500-09b3-1383-0feec37db78f-bce7c9c5"
                href="/contact"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/1425_2.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">Contact Us</div>
                  <div class="navbar_link-description">
                    Talk to visibility experts
                  </div>
                </div></a
              ><a
                id="w-node-_25055501-3500-09b3-1383-0feec37db796-bce7c9c5"
                href="/careers"
                class="navbar_link-item w-inline-block"
                ><img
                  src="../../../assets/source/14228.svg"
                  loading="lazy"
                  width="50"
                  height="50"
                  alt=""
                  class="navbar_link-image"
                />
                <div class="navbar_link-text-container">
                  <div class="navbar_link-heading">Careers</div>
                  <div class="navbar_link-description">
                    Join our growing team
                  </div>
                </div></a
              >
            </div>
          </ul>
        </li>
      </ul>

      <div class="navbar_button-container">
        <a
          href="https://app.portcast.io/signup"
          class="navbar_text-link is-login w-button"
          >Sign Up</a
        >
        <div class="navbar_button-wrapper">
          <a
            href="/contact"
            id="nav-button"
            class="button is-nav hide-tablet w-button"
            >Contact Us</a
          ><a href="/contact" class="button is-nav hide-desktop w-button"
            >Contact Us</a
          >
        </div>
      </div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
