<app-header></app-header>

<main class="main-wrapper">
  <div class="section_big_header">
    <div class="padding-global">
      <div class="container-large">
        <div class="big_header_component">
          <div class="padding-bottom padding-large"></div>
          <div class="big_header_content-container">
            <h1 class="heading-style-h1 text-color-white">
              <strong
                >Real-Time Transportation Visibility and Predictive Insights<br />Powered
                by Data
              </strong>
            </h1>
            <p class="home_header_paragraph">
              Make your supply chain more efficient and sustainable through
              complete and accurate container tracking information and
              predictive ETAs.
            </p>
            <div data-action="hubspot" class="contact-button-wrapper">
              <a
                href="/contact"
                class="button is-lightblue hide-desktop w-button"
                >Get in Touch</a
              ><a
                aria-label="Get Started"
                fs-modal-element="open"
                href="/contact"
                class="button is-lightblue hide-tablet w-button"
                >Get Started</a
              >
            </div>
          </div>
          <div class="padding-bottom padding-large"></div>
          <img
            src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/647730575ec7149bddbc2261_3105-new-home-hero-image.webp"
            sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 1919px) 92vw, 1343.96875px"
            width="1400"
            height="800"
            alt="Interface of Portcast Supply Chain Visibility Solution with two images of cyclone and a vessel in a port"
            srcset="
              https://assets-global.website-files.com/643006af9e6f61169be0dfb1/647730575ec7149bddbc2261_3105-new-home-hero-image-p-500.webp   500w,
              https://assets-global.website-files.com/643006af9e6f61169be0dfb1/647730575ec7149bddbc2261_3105-new-home-hero-image-p-800.webp   800w,
              https://assets-global.website-files.com/643006af9e6f61169be0dfb1/647730575ec7149bddbc2261_3105-new-home-hero-image-p-1080.webp 1080w,
              https://assets-global.website-files.com/643006af9e6f61169be0dfb1/647730575ec7149bddbc2261_3105-new-home-hero-image-p-1600.webp 1600w,
              https://assets-global.website-files.com/643006af9e6f61169be0dfb1/647730575ec7149bddbc2261_3105-new-home-hero-image-p-2000.webp 2000w,
              https://assets-global.website-files.com/643006af9e6f61169be0dfb1/647730575ec7149bddbc2261_3105-new-home-hero-image.webp        2478w
            "
            class="big_header_image"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="section_ic">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-medium">
          <div class="ic_component">
            <h2 class="text-align-center max-width-large">
              <span class="heading-marked">Advanced Solutions</span> To Manage
              Your Containers
            </h2>
            <div class="ic_row">
              <div class="ic_info">
                <h3 class="heading-style-h3">
                  Real-Time Container Tracking Data
                </h3>
                <p class="ic_info-paragraph">
                  Save valuable hours and optimize costs with automated and
                  accurate container tracking. Access visibility across global
                  shipping carriers in a single platform to know where risks and
                  exceptions arise.
                </p>
                <a href="/real-time-container-tracking" class="button w-button"
                  >More About Tracking</a
                >
              </div>
              <img
                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/6453d1b9e6cd294744edd528_home-page-real-time-visibility-image-updated%20(1).webp"
                loading="lazy"
                width="600"
                height="600"
                alt="An image of a vessel with interface of container tracking events from Portcast visibility software."
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 92vw, (max-width: 1919px) 46vw, 676.375px"
                srcset="
                  https://assets-global.website-files.com/643006af9e6f61169be0dfb1/6453d1b9e6cd294744edd528_home-page-real-time-visibility-image-updated%20(1)-p-500.webp   500w,
                  https://assets-global.website-files.com/643006af9e6f61169be0dfb1/6453d1b9e6cd294744edd528_home-page-real-time-visibility-image-updated%20(1)-p-800.webp   800w,
                  https://assets-global.website-files.com/643006af9e6f61169be0dfb1/6453d1b9e6cd294744edd528_home-page-real-time-visibility-image-updated%20(1)-p-1080.webp 1080w,
                  https://assets-global.website-files.com/643006af9e6f61169be0dfb1/6453d1b9e6cd294744edd528_home-page-real-time-visibility-image-updated%20(1).webp        1270w
                "
                class="ic_image"
              /><img
                src="../assets/source/background_1.svg"
                loading="lazy"
                width="1000"
                height="1000"
                alt=""
                id="w-node-_8d40e454-0eeb-39bf-4e30-f963c7e8f819-c7e8f810"
                class="ic_row-background-image _1"
              />
            </div>
            <div class="ic_row is-reversed">
              <div
                id="w-node-_167b33f1-8118-aa5b-cdbb-a6f33997c82a-3997c829"
                class="ic_info"
              >
                <h3 class="heading-style-h3">
                  Predicted ETAs and ETDs for Containers
                </h3>
                <p class="ic_info-paragraph">
                  Automate exception management with predictive visibility. You
                  will be able to see the reason for delays and proactively
                  communicate that to your colleagues and partners.
                </p>
                <a href="/predictive-visibility" class="button w-button"
                  >See Predictions in Action</a
                >
              </div>
              <img
                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f612652e0e0ea_Group%201533%20(2).webp"
                loading="lazy"
                width="600"
                height="600"
                alt="Image of an embarking vessel combined with banners from Portcast container tracking platform."
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 92vw, 1232px"
                srcset="
                  https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f612652e0e0ea_Group%25201533%2520(2)-p-500.webp   500w,
                  https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f612652e0e0ea_Group%25201533%2520(2)-p-800.webp   800w,
                  https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f612652e0e0ea_Group%25201533%2520(2)-p-1080.webp 1080w,
                  https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f612652e0e0ea_Group%201533%20(2).webp            1389w
                "
                class="ic_image"
              /><img
                src="../assets/source/dotted_new.svg"
                loading="lazy"
                width="1000"
                height="1000"
                alt=""
                id="w-node-_167b33f1-8118-aa5b-cdbb-a6f33997c832-3997c829"
                class="ic_row-background-image _2"
              />
            </div>
            <div class="ic_row">
              <div class="ic_info">
                <h3 class="heading-style-h3">
                  Port Terminal Visibility for Import &amp; Export
                </h3>
                <p class="ic_info-paragraph">
                  Get up-to-date overview of key milestones, deadlines, and
                  container statuses at import and export ports. Instant access
                  to select container port terminals in North America, Europe,
                  and Asia — all in one platform.
                </p>
                <a href="/port-terminal-visibility" class="button w-button"
                  >Explore Our Terminal Data</a
                >
              </div>
              <img
                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/645e13f7dadba14c1bdf84f2_demurrage_image%20(1).webp"
                loading="lazy"
                width="600"
                height="600"
                alt="Photo of a port terminal overlayed with interface alerts with terminal tracking data from Portcast."
                sizes="100vw"
                srcset="
                  https://assets-global.website-files.com/643006af9e6f61169be0dfb1/645e13f7dadba14c1bdf84f2_demurrage_image%20(1)-p-500.webp   500w,
                  https://assets-global.website-files.com/643006af9e6f61169be0dfb1/645e13f7dadba14c1bdf84f2_demurrage_image%20(1)-p-800.webp   800w,
                  https://assets-global.website-files.com/643006af9e6f61169be0dfb1/645e13f7dadba14c1bdf84f2_demurrage_image%20(1)-p-1080.webp 1080w,
                  https://assets-global.website-files.com/643006af9e6f61169be0dfb1/645e13f7dadba14c1bdf84f2_demurrage_image%20(1).webp        1378w
                "
                class="ic_image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_info-cards">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-medium">
          <div class="info-card_component">
            <h2
              id="w-node-_7cc380e8-a3f6-66ee-3f2d-1b627e214a9b-e7b2190d"
              class="text-align-center max-width-large"
            >
              Analytics and Tools for Your
              <span class="heading-marked is-tools">Data-Driven</span>
              Decisions
            </h2>
            <div class="info-card_grid">
              <div
                id="w-node-_7317d7ce-2873-2c6d-4c36-d214c37d0849-e7b2190d"
                class="info-card_wrapper is-2"
              >
                <div class="info-card_content-container">
                  <h3 class="info-card_header">Control Dashboard</h3>
                  <p class="info-card_paragraph">
                    Get a bird&#x27;s eye view across all your containers in one
                    place. Receive alerts on the containers that need your
                    attention and key metrics that define on-time performance.
                  </p>
                  <div class="info-card_overlay"></div>
                </div>
              </div>
              <div
                id="w-node-_15badbb0-d467-a398-8009-11775af35205-e7b2190d"
                class="info-card_wrapper"
              >
                <div class="info-card_content-container">
                  <h3 class="info-card_header">Port Congestion Tracker</h3>
                  <p class="info-card_paragraph">
                    Know the actual level of congestion for any port in the
                    world used to deliver your shipments. Plan for fluctuating
                    dwell and waiting times based on reliable data.
                  </p>
                  <div class="info-card_overlay"></div>
                </div>
              </div>
              <div
                id="w-node-ecd0ebe2-d976-29ea-fa98-e369dd65fc8b-e7b2190d"
                class="info-card_wrapper is-3"
              >
                <div class="info-card_content-container">
                  <h3 class="info-card_header">
                    Exceptions Reporting &amp; Alerts
                  </h3>
                  <p class="info-card_paragraph">
                    Receive customized alerts on container milestones.
                    Proactively take the required actions.
                  </p>
                  <div class="info-card_overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-bottom padding-medium"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_network">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="network_component">
            <h2 class="text-color-white">Our Data Network</h2>
            <div class="padding-bottom padding-small"></div>
            <div class="data-cards_component">
              <div
                id="w-node-_84786715-af98-b7bd-0f09-3db2614d086f-614d0867"
                class="data-cards_card _1"
              >
                <div class="data-cards_number">5,000+</div>
                <div class="data-card_text">Vessels</div>
              </div>
              <div
                id="w-node-_84786715-af98-b7bd-0f09-3db2614d0868-614d0867"
                class="data-cards_card"
              >
                <div class="data-cards_number">5,000,000+</div>
                <div class="data-card_text">Data points treated per day</div>
              </div>
              <div
                id="w-node-_84786715-af98-b7bd-0f09-3db2614d0876-614d0867"
                class="data-cards_card _2"
              >
                <div class="data-cards_number">12,000+</div>
                <div class="data-card_text">Ports</div>
              </div>
              <div
                id="w-node-_84786715-af98-b7bd-0f09-3db2614d087d-614d0867"
                class="data-cards_card _3"
              >
                <div class="data-cards_number">
                  <span data-purecounter-end="100" class="counter">100</span>+
                </div>
                <div class="data-card_text">Carriers &amp; NVOCCs</div>
              </div>
            </div>
            <div class="padding-bottom padding-xxlarge"></div>
            <div class="home_network_iwt">
              <div
                id="w-node-_18737a72-57b1-edec-fedc-fee403936d00-e7b2190d"
                class="home_network_text-container"
              >
                <h2 class="text-color-white">
                  Portcast Shipping Insights Serve To
                </h2>
                <div class="padding-bottom padding-large"></div>
                <div class="home_network_faq">
                  <!-- accordion  -->
                  <div
                    class="accordion accordion-flush js-accordion"
                    id="accordionFlushExample"
                  >
                    <div class="accordion-item js-accordion-item">
                      <div
                        class="accordion-header js-accordion-header w-inline-block"
                        id="flush-headingOne"
                        style="border-style: none"
                        (mouseenter)="isExpanded = true"
                        (mouseleave)="isExpanded = false"
                      >
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseOne"
                          aria-expanded="isExpanded"
                          aria-controls="flush-collapseOne"
                          style="border-color: black"
                        >
                          <div class="heading-style-h5 text-color-white">
                            01.
                          </div>
                          <h3 class="heading-style-h5 text-color-white">
                            Logistics Service Providers
                          </h3>
                        </button>
                        <div class="accordion_close-container">
                          <div class="accordion_close-line"></div>
                          <div
                            data-w-id="463c4ae5-ed11-6880-0921-32eb6fbaf94d"
                            class="accordion_close-line is-rotated"
                          ></div>
                        </div>
                      </div>
                      <div
                        id="flush-collapseOne"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          <div class="accordion-body__contents">
                            Build a competitive advantage by providing your
                            customers with reliable predicted time of arrival
                            and visibility data. Use it as a unique selling
                            point and as a key to customers&#x27; trust.
                          </div>
                          <div class="padding-bottom padding-small"></div>
                          <a
                            href="/real-time-visibility-for-logistics-service-providers"
                            aria-label=""
                            class="solutions_link-wrapper home_network_accordion-link w-inline-block"
                            ><div class="solutions_link-container">
                              <div class="navbar_link-text-container">
                                <div class="navbar_link-heading">
                                  Go to page
                                </div>
                              </div>
                              <img
                                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f61b6cce0e0eb_Vector42.svg"
                                loading="lazy"
                                width="20"
                                height="20"
                                alt=""
                                id="w-node-_684851d1-f077-f0d9-3ef9-e89dec912925-e7b2190d"
                                class="navbar_link-image-small"
                              /></div
                          ></a>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item js-accordion-item">
                      <div
                        class="accordion-header js-accordion-header w-inline-block"
                        id="flush-headingTwo"
                      >
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseTwo"
                          aria-expanded="false"
                          aria-controls="flush-collapseTwo"
                        >
                          <div class="heading-style-h5 text-color-white">
                            02.
                          </div>
                          <h3 class="heading-style-h5 text-color-white">
                            Manufacturers and BCOs
                          </h3>
                        </button>
                        <div class="accordion_close-container">
                          <div class="accordion_close-line"></div>
                          <div
                            data-w-id="463c4ae5-ed11-6880-0921-32eb6fbaf94d"
                            class="accordion_close-line is-rotated"
                          ></div>
                        </div>
                      </div>
                      <div
                        id="flush-collapseTwo"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          <div class="accordion-body__contents">
                            Better manage your supply chain based on analytics
                            and up-to-date shipping data instead of spreadsheets
                            and emails. Portcast tools make sure your team can
                            manage thousands of TEUs much more efficiently.
                          </div>
                          <div class="padding-bottom padding-small"></div>
                          <a
                            href="/real-time-visibility-for-shippers-and-manufacturers"
                            class="solutions_link-wrapper w-inline-block"
                            ><div class="solutions_link-container">
                              <div class="navbar_link-text-container">
                                <div class="navbar_link-heading">
                                  Go to page
                                </div>
                              </div>
                              <img
                                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f61b6cce0e0eb_Vector42.svg"
                                loading="lazy"
                                width="20"
                                height="20"
                                alt=""
                                id="w-node-de8f7ab7-3022-4d08-9f0f-4c1135e89f4b-e7b2190d"
                                class="navbar_link-image-small"
                              /></div
                          ></a>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item js-accordion-item">
                      <div
                        class="accordion-header js-accordion-header w-inline-block"
                        id="flush-headingThree"
                      >
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseThree"
                          aria-expanded="false"
                          aria-controls="flush-collapseThree"
                        >
                          <div class="heading-style-h5 text-color-white">
                            03.
                          </div>
                          <h3 class="heading-style-h5 text-color-white">
                            Logistics Tech Companies
                          </h3>
                        </button>
                        <div class="accordion_close-container">
                          <div class="accordion_close-line"></div>
                          <div
                            data-w-id="463c4ae5-ed11-6880-0921-32eb6fbaf94d"
                            class="accordion_close-line is-rotated"
                          ></div>
                        </div>
                      </div>
                      <div
                        id="flush-collapseThree"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          <div class="accordion-body__contents">
                            Upgrade your software capabilities by ingesting
                            Portcast Ocean Visibility into it. Benefit from the
                            best-in-class data and convenient APIs to get a
                            shorter time-to-market.
                          </div>
                          <div class="padding-bottom padding-small"></div>
                          <a
                            href="/real-time-visibility-for-logistics-technology-companies"
                            class="solutions_link-wrapper w-inline-block"
                            ><div class="solutions_link-container">
                              <div class="navbar_link-text-container">
                                <div class="navbar_link-heading">
                                  Go to page
                                </div>
                              </div>
                              <img
                                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f61b6cce0e0eb_Vector42.svg"
                                loading="lazy"
                                width="20"
                                height="20"
                                alt=""
                                id="w-node-_310d217e-36a7-e2e3-777a-9824f454af72-e7b2190d"
                                class="navbar_link-image-small"
                              /></div
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- accordion-end  -->
                </div>
              </div>
              <img
                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6186a1e0e0ed_Group%201537.webp"
                loading="lazy"
                width="600"
                height="600"
                alt="Image showing part of Portcast&#x27;s interface and a report on predicted delayed bookings."
                id="w-node-_1a6cf58f-af3d-d70b-d974-9ffd514fe744-e7b2190d"
                class="home_network_image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_testimonials">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-medium">
          <div class="testimonials_component">
            <div class="testimonial_heading-container">
              <img
                src="../assets/source/testimonial.svg"
                loading="lazy"
                width="300"
                height="300"
                alt=""
                class="testimonials_quote"
              />
              <h2>What Our Customers Say About Us</h2>
            </div>
            <div
              id="w-node-dc3f0559-4236-042a-6987-469530a2752a-30a27525"
              class="testimonials_slider"
            >
              <div
                data-delay="4000"
                data-animation="slide"
                class="testimonials_slider-container w-slider"
                data-autoplay="false"
                data-easing="ease"
                data-hide-arrows="false"
                data-disable-swipe="false"
                data-autoplay-limit="0"
                data-nav-spacing="3"
                data-duration="500"
                data-infinite="true"
              >
                <div class="testimonials_slider-mask w-slider-mask">
                  <div class="testimonials_slide w-slide">
                    <div class="testimonials_container">
                      <div class="home-header_star-wrapper">
                        <img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          width="50"
                          height="50"
                          alt="star"
                          class="testimonials_star is-star-1"
                        /><img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          width="50"
                          height="50"
                          alt="star"
                          class="testimonials_star is-star-2"
                        /><img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          width="50"
                          height="50"
                          alt="star"
                          class="testimonials_star is-star-3"
                        /><img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          width="50"
                          height="50"
                          alt="star"
                          class="testimonials_star is-star-4"
                        /><img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          width="50"
                          height="50"
                          alt="star"
                          class="testimonials_star is-star-5"
                        />
                      </div>
                      <p class="testimonials_paragraph">
                        The most powerful functionality is predictive ETA
                        complementing by complete E2E view of ocean events gives
                        us the best in accuracy of prediction and completeness
                        of ocean view.<br />
                      </p>
                      <div class="padding-bottom padding-small"></div>
                      <div class="testimonials_name-container">
                        <div>
                          <div class="testimonials_function">
                            International Transformation Director, AB-InBev
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testimonials_slide w-slide">
                    <div class="testimonials_container">
                      <div class="home-header_star-wrapper">
                        <img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          width="50"
                          height="50"
                          alt="50"
                          class="testimonials_star is-star-1"
                        /><img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          width="50"
                          height="50"
                          alt="star"
                          class="testimonials_star is-star-2"
                        /><img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          width="50"
                          height="50"
                          alt="star"
                          class="testimonials_star is-star-3"
                        /><img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          width="50"
                          height="50"
                          alt="star"
                          class="testimonials_star is-star-4"
                        /><img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          width="50"
                          height="50"
                          alt="star"
                          class="testimonials_star is-star-5"
                        />
                      </div>
                      <p class="testimonials_paragraph">
                        The software adapts to the needs of the company almost
                        in its entirety, the visibility it provides with respect
                        to the container tracking brings a lot of value.
                      </p>
                      <div class="padding-bottom padding-small"></div>
                      <div class="testimonials_name-container">
                        <div class="testimonials_function">
                          Digital Engineer, Neele-Vat
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testimonials_slide w-slide">
                    <div class="testimonials_container">
                      <div class="home-header_star-wrapper">
                        <img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          width="50"
                          height="50"
                          alt="star"
                          class="testimonials_star is-star-1"
                        /><img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          width="50"
                          height="50"
                          alt="star"
                          class="testimonials_star is-star-2"
                        /><img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          height="50"
                          width="50"
                          alt="star"
                          class="testimonials_star is-star-3"
                        /><img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          width="50"
                          height="50"
                          alt="star"
                          class="testimonials_star is-star-4"
                        /><img
                          src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6136aae0e052_Frame%201389.svg"
                          loading="lazy"
                          width="50"
                          height="50"
                          alt="star"
                          class="testimonials_star is-star-5"
                        />
                      </div>
                      <p class="testimonials_paragraph">
                        Portcast helps you to predict at an early stage how
                        outside circumstances like weather, port congestion, and
                        strikes may impact your and your customer&#x27;s
                        downstream processes.
                      </p>
                      <div class="padding-bottom padding-small"></div>
                      <div class="testimonials_name-container">
                        <div class="testimonials_function">
                          Deputy General Manager, Offshore Processes, Ocean
                          Network Express (ONE)
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="left-arrow w-slider-arrow-left">
                  <img
                    src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6146e5e0e00d_Icon2.svg"
                    loading="lazy"
                    width="40"
                    height="40"
                    alt="arrow-left"
                    class="testimonials_arrow"
                  />
                </div>
                <div class="right-arrow w-slider-arrow-right">
                  <img
                    src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f613348e0e00c_Icon.svg"
                    loading="lazy"
                    width="40"
                    height="40"
                    alt="arrow-left"
                    class="testimonials_arrow"
                  />
                </div>
                <div class="slide-nav w-slider-nav w-round"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_featured">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-small">
          <div class="featured_component">
            <div
              id="w-node-aacf8f87-415a-a0f3-21f6-2b7e19137aba-19137ab9"
              class="featured_info"
            >
              <div class="featured_info-text">We Have Been Featured In</div>
            </div>
            <div
              id="w-node-aacf8f87-415a-a0f3-21f6-2b7e19137abd-19137ab9"
              class="featured_image-container"
            >
              <img
                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f61ff0fe0e0de_Group421.svg"
                loading="lazy"
                width="200"
                height="80"
                alt="Journal of Commerce logo"
                id="w-node-aacf8f87-415a-a0f3-21f6-2b7e19137abe-19137ab9"
                class="featured_image"
              /><img
                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f612b2ae0e0e8_techcrunch-ar221%201.svg"
                loading="lazy"
                width="200"
                height="80"
                alt="TechCrunch Logo"
                id="w-node-aacf8f87-415a-a0f3-21f6-2b7e19137ac1-19137ab9"
                class="featured_image"
              /><img
                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f615c73e0e01a_image%203.webp"
                loading="lazy"
                width="200"
                height="80"
                alt="Channel News Asia Logo"
                id="w-node-aacf8f87-415a-a0f3-21f6-2b7e19137ac0-19137ab9"
                class="featured_image"
              /><img
                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f61bec3e0e019_image%209.webp"
                loading="lazy"
                width="200"
                height="80"
                alt="Institute of Supply Chain Management Logo"
                id="w-node-aacf8f87-415a-a0f3-21f6-2b7e19137abf-19137ab9"
                class="featured_image hide-mobile-landscape"
              /><img
                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6145b4e0e0e1_informa-connect-logo%201.svg"
                loading="lazy"
                width="200"
                height="80"
                alt="Informaconnect logo"
                id="w-node-aacf8f87-415a-a0f3-21f6-2b7e19137ac2-19137ab9"
                class="featured_image hide-mobile-landscape"
              /><img
                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f6196e7e0e0e2_clipboa124rd.svg"
                loading="lazy"
                width="200"
                height="80"
                alt="Seatrade Maritime News logo"
                id="w-node-aacf8f87-415a-a0f3-21f6-2b7e19137ac3-19137ab9"
                class="featured_image"
              /><img
                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f61221be0e0e3_PngItem_4600644.svg"
                loading="lazy"
                width="200"
                height="80"
                alt="SuplyChainBrain Logo"
                id="w-node-aacf8f87-415a-a0f3-21f6-2b7e19137ac4-19137ab9"
                class="featured_image"
              /><img
                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f61a7d9e0e0e4_et-logo4px.svg"
                loading="lazy"
                width="200"
                height="80"
                alt="The Economic Times logo"
                id="w-node-aacf8f87-415a-a0f3-21f6-2b7e19137ac5-19137ab9"
                class="featured_image"
              /><img
                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f61ef74e0e0e6_image%2027%201.svg"
                loading="lazy"
                width="200"
                height="80"
                alt="ExploreSCM Logo"
                id="w-node-aacf8f87-415a-a0f3-21f6-2b7e19137ac6-19137ab9"
                class="featured_image hide-mobile-landscape"
              /><img
                src="https://assets-global.website-files.com/643006af9e6f61169be0dfb1/643006af9e6f618a37e0e0e7_Group%201294.svg"
                loading="lazy"
                width="200"
                height="80"
                alt="TechInAsia Logo"
                id="w-node-aacf8f87-415a-a0f3-21f6-2b7e19137ac7-19137ab9"
                class="featured_image hide-mobile-landscape"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_process">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-medium">
          <div
            data-w-id="66fc6bac-8771-05fc-8d10-73d6f240ec80"
            class="process_component"
          >
            <div class="process_heading-container">
              <h2>Easily Embed Container Visibility Into Your Operations</h2>
            </div>
            <div class="padding-bottom padding-small"></div>
            <div class="padding-bottom padding-large"></div>
            <div class="process_steps-container">
              <div
                id="w-node-_66fc6bac-8771-05fc-8d10-73d6f240ec8e-f240ec7c"
                class="process_step-container"
              >
                <div class="process_step-image-container">
                  <img
                    src="../assets/source/dot_modified.svg"
                    loading="lazy"
                    width="50"
                    height="50"
                    alt=""
                    class="process_step-image"
                  />
                  <div class="process_line"></div>
                </div>
                <div class="process_step-info-container">
                  <div class="process_step-number">01.</div>
                  <h3 class="heading-style-h5">Discovery Session</h3>
                  <p class="process_step-paragraph">
                    We schedule a 15 minutes call to learn more about your
                    container visibility needs and understand if or how we can
                    help solve your challenges.
                  </p>
                </div>
              </div>
              <div
                id="w-node-_66fc6bac-8771-05fc-8d10-73d6f240ec99-f240ec7c"
                class="process_step-container"
              >
                <div class="process_step-image-container">
                  <img
                    src="../assets/source/dot_modified.svg"
                    loading="lazy"
                    width="50"
                    height="50"
                    alt=""
                    class="process_step-image"
                  />
                </div>
                <div class="process_step-info-container">
                  <div class="process_step-number">02.</div>
                  <h3 class="heading-style-h5">Tech Alignment</h3>
                  <p class="process_step-paragraph">
                    Our team demonstrates the full potential of the Portcast
                    platform tailored to your visibility requirements.
                  </p>
                </div>
              </div>
              <div
                id="w-node-_66fc6bac-8771-05fc-8d10-73d6f240eca3-f240ec7c"
                class="process_step-container"
              >
                <div class="process_step-image-container">
                  <img
                    src="../assets/source/dot_modified.svg"
                    loading="lazy"
                    width="50"
                    height="50"
                    alt=""
                    class="process_step-image"
                  />
                </div>
                <div class="process_step-info-container">
                  <div class="process_step-number">03.</div>
                  <h3 class="heading-style-h5">Integrate Portcast</h3>
                  <p class="process_step-paragraph">
                    Our Customer Success team enables you to get started in less
                    than a week and integrate the APIs seamlessly.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
